aenum==1.4.5
Babel==2.3.4
beautifulsoup4==4.1.0
blinker==1.4
Bottleneck==1.1.0
click==6.6
coverage==4.2
decorator==4.0.10
enum34==1.1.6
Flask==0.11.1
Flask-Babel==0.11.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.1
Flask-WhooshAlchemy==0.56
Flask-WTF==0.12
flipflop==1.0
fonttools==2.3
guess-language==0.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numexpr==2.6.1
numpy==1.11.1
pandas==0.18.1
pbr==1.10.0
Polygon==2.0.1
pycurl==7.43.0
python-dateutil==2.5.3
python-openid==2.2.5
pytz==2016.6.1
scipy==0.17.1
six==1.10.0
SQLAlchemy==1.0.14
sqlalchemy-migrate==0.10.0
sqlparse==0.2.0
Tempita==0.5.2
TTFQuery==1.0.4
virtualenv==15.0.2
VPython==6.5
Werkzeug==0.11.10
Whoosh==2.7.4
WTForms==2.1
wxPython==2.9.4.0
wxPython-common==2.9.4.0
xarray==0.7.2
