<!DOCTYPE html>
<html lang="en">
<html>
  <head>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
  	</script>
  	<script type="text/javascript">
		    var counter = 2;
		    $('.add-conflict').click(function(event){
		        event.preventDefault();
		        alert("ran something");
		        var newconflict = jQuery('<div id="conflict1" class="conflict"><h4>Enter a conflict:</h4><p><label for="conflict'+counter + '-day">Day(s):</label><select required multiple form="form" id="conflict'+counter + '-day"  list = "days" name="conflict'+counter + '-day"><datalist id="days"><option value = "Monday">Monday</option><option value = "Tuesday">Tuesday</option><option value = "Wednesday">Wednesday</option><option value = "Thursday">Thursday</option><option value = "Friday">Friday</option><option value = "Saturday">Saturday</option><option value = "Sunday">Sunday</option></datalist></select></p><p><label for "conflict'+counter + '-starttime">Start time:</label><input type="time" name = "conflict'+counter + '-starttime" id="conflict'+counter + '-starttime"></p><p><label for "conflict'+counter + '-endtime">End time:</label> <input type="time" name = "conflict'+counter + '-endtime" id="conflict'+counter + '-endtime"></p></div>');
		            counter++;
		        jQuery('div.conflict-list').append(newconflict);

		    });
  	</script>
    <title>Harvard Freshman Seminars 2016-17</title>
  </head>
  <body>
	<h1>Pick Filters</h1>
	  <form role="form" method="post" id="form">
	      <div class="form-group">
	        <div id="semester" class="filter">
	          <h3>Please enter which semesters you want material for: 
	          </h3>
	          <input type = "checkbox" id = "fallterm" name = "fallterm" value="F">
	          <label for="fallterm">Fall Term </label>
	          <br>
	          <input type = "checkbox" name = "springterm" id = "springterm" value="S">
	          <label for= "springterm">Spring Term:</label> 
	          <br>
	        </div>
	        <div id="search" class="filter">
	          <p>
	            <h3 for = "searchquery">Add search keywords: </h3>
	            <input type="search" id="searchquery" name="searchquery"> </p>
	        </div>
	        <div class="conflict-list filter">
	          <h3> 
	            Seminar should <strong>not</strong> conflict with:
	          </h3>
	            <div id="conflict1" class="conflict">
	              <h4>Enter a conflict:</h4>
	              <p><label for="conflict1-day">Day(s):</label>
	                <select required multiple form="form" id="conflict1-day"  list = "days" name="conflict1-day">
	                  <datalist id="days">
	                    <option value = "Monday">Monday</option>
	                    <option value = "Tuesday">Tuesday</option>
	                    <option value = "Wednesday">Wednesday</option>
	                    <option value = "Thursday">Thursday</option>
	                    <option value = "Friday">Friday</option>
	                    <option value = "Saturday">Saturday</option>
	                    <option value = "Sunday">Sunday</option>
	                  </datalist>
	                </select>

	              </p>
	              <p>
	                <label for "conflict1-starttime">Start time:</label> 
	                <input type="time" name = "conflict1-starttime" id="conflict1-starttime">
	              </p>
	              <p>
	                <label for "conflict1-endtime">End time:</label> 
	                <input type="time" name = "conflict1-endtime" id="conflict1-endtime">
	              </p>
	            </div>   

              <div id="conflict2" class="conflict">
                <h4>Enter a conflict:</h4>
                <p><label for="conflict2-day">Day(s):</label>
                  <select required multiple form="form" id="conflict2-day"  list = "days" name="conflict2-day">
                    <datalist id="days">
                      <option value = "Monday">Monday</option>
                      <option value = "Tuesday">Tuesday</option>
                      <option value = "Wednesday">Wednesday</option>
                      <option value = "Thursday">Thursday</option>
                      <option value = "Friday">Friday</option>
                      <option value = "Saturday">Saturday</option>
                      <option value = "Sunday">Sunday</option>
                    </datalist>
                  </select>

                </p>
                <p>
                  <label for "conflict2-starttime">Start time:</label> 
                  <input type="time" name = "conflict2-starttime" id="conflict2-starttime">
                </p>
                <p>
                  <label for "conflict2-endtime">End time:</label> 
                  <input type="time" name = "conflict2-endtime" id="conflict2-endtime">
                </p>
              </div>   


	            <a href="#" class = "add-conflict"><img src="plusbutton.png"> Add an additional time slot</a>
	        </div>
	      </div>  
	    <button type="submit" class="btn btn-default">Submit</button>
	  </form>
    {% if alert %}
    <p> {{ alert }} </p>
    {% endif %}
    <div>
	  <br>
	  {% if seminars %}
	  <h4>{{seminars|length}} seminars found</h4>
	  <table style = "width: 100%">
	    <tr>
	      <th>Seminar Name</th>
	      <th>Instructor Name</th>
	      <th>Seminar Time</th>
	      <th></th>
	    </tr>
	    {% for seminar in seminars %}
	    <tr>
	      <td>{{seminar.name}}</td>
	      <td>{{seminar.instructor}}</td>
	      <td>
	        {% if seminar.fallSem %} 
	          Fall 2016
	        {% else %}
	          Spring 2017
	        {% endif %}
	      </td>
	      <td>{{seminar.timeString}}</td>
	      <td>{{seminar.description}}</td>
	      <td></td>
	      <td></td>
	    </tr>
	    {% endfor %}
	  </table>  
    {% endif %}
	</div>
	</body>
</html>